.newService {
  flex: 4;
}
.newArtisanImg {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.newArtisanImg > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(119, 117, 117);
}
.newArtisanImg > input {
  border: none;
}
