.service {
  padding: 20px 30px;
}
h3 {
  text-align: center;
}
.title {
  margin-right: 100px;
}
.service_image{
  height: 500px;
  width: 100%;
  padding: 10px 20px;
  z-index: -1;
  margin-bottom: -150px;
  object-fit: cover;
}
