.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 1);
}
.chartTitle {
  margin-bottom: 0px;
}
