.popularServices {
  padding: 20px 30px;
}
.wrapper-center {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.service-link {
  text-decoration: none;
  float: right;
}
.wrapper {
  width: 430px;
  height: 276px;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
}
.elipse {
  margin: 20px;
  width: 120px;
  height: 115px;
  border-radius: 500px;
  background-color: #f59401;
}
.elipseimage {
  padding-top: 22px;
  margin-right: 20px;
  margin-left: 5px;
  width: 110px;
  height: 87px;
}
.wrapper-link {
  text-decoration: none;
  color: black;
  transition: transform 1ms;
}
.wrapper-link:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.1);
}
.text {
  /* width: 295px;
  height: 87px;
  left: 1213px;
  top: 944px; */
  font-size: 18px;
  font-style: normal;
  padding-bottom: 10px;
  margin-left: 0px;
}
