* {
  margin: 0;
}
.records {
  padding: 20px 30px;
}
.jumbotron {
  background-color: #c4c4c4;
  border-radius: 20px;
  text-align: center;
  width: 100%;
}
.record-details {
  text-align: center;
}
