body {
  background-color: rgb(141, 136, 136);
  font-family: "Roboto", sans-serif;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}
h2 {
  text-align: center;
}
form {
  width: 300px;
  margin-left: 20px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.btn {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.btn:hover {
  cursor: pointer;
}
.error {
  color: red;
}
