.adminHome {
  flex: 4;
}
.artisanEditList {
  margin-right: 10px;
  cursor: pointer;
  color: black;
}
.artisanListDelete {
  cursor: pointer;
  color: red;
}
.artisanListartisan {
  display: flex;
  align-items: center;
}
.artisanListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
